body {
    background: #EEE;
    margin: 0;
     padding: 0;
}
  
/* Table */
  
table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
  }
  
  thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
    font-size:18px;
    text-align: center;
  }
  table, td {
    border: 1px solid black;
  }
  td[colspan]:not([colspan="1"])
  {
    text-align:center;
  }

  h1, h3 {
    text-align: center;
  }
